<footer class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="" class="footer-logo">
          <img src="img/footer-logo.png" alt="" />
        </a>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="footer-item">
          Вы хотите сотрудничать с нами? <br />
          У Вас есть идеи или предложения? <br />
          Свяжитесь с нами прямо сейчас!
        </div>
        <div class="footer-item">
          65000,<br />
          Украина, г. Одесса<br />
          Ул Базарная, 36
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div
          class="footer-item d-flex justify-content-center justify-content-md-start"
        >
          <div class="footer-item__letter">W</div>
          <p>
            Дизайн и разработка<br />
            КОУЧИНГ ПО ВЕРСТКЕ
          </p>
        </div>
        <div class="footer-item">
          &#169; Все права защищены<br />
          <span> LAB Consulting</span><br />
          <a href="#">lab-consult.com</a>
        </div>
      </div>
      <div class="col-lg-2 align-items-center d-flex">
        <button class="btn d-md-none d-lg-block mx-auto mt-4 mt-md-0">
          <i class="fas fa-phone"></i> Заказать звонок
        </button>
      </div>
    </div>
  </div>
</footer>
