<section class="photo" id="photo">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="photo__title">Фото наших мощностей</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3 col-sm-6">
        <div class="photo__item">
          <img src="img/photo-1.jpg" alt="" class="photo__img" />
          <a
            href="#"
            class="photo__overlay d-flex align-items-center justify-content-center"
          >
            <i class="fas fa-expand"></i>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="photo__item">
          <img src="img/photo-2.jpg" alt="" class="photo__img" />
          <a
            href="#"
            class="photo__overlay d-flex align-items-center justify-content-center"
          >
            <i class="fas fa-expand"></i>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="photo__item">
          <img src="img/photo-3.jpg" alt="" class="photo__img" />
          <a
            href="#"
            class="photo__overlay d-flex align-items-center justify-content-center"
          >
            <i class="fas fa-expand"></i
          ></a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="photo__item">
          <img src="img/photo-4.jpg" alt="" class="photo__img" />
          <a
            href="#"
            class="photo__overlay d-flex align-items-center justify-content-center"
          >
            <i class="fas fa-expand"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
