<section class="mission" id="mission">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <h3 class="mission__title">Миссия LAB Consulting</h3>
        <div class="d-flex flex-column flex-md-row">
          <div class="mission__text mission__text_first">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit, sed quia consequuntur magni
              dolores.
            </p>
            <p>
              Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
              est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
              velit, sed quia non numquam eius modi tempora incidunt ut labore
              et dolore magnam aliquam quaerat voluptatem.
            </p>
          </div>
          <div class="mission__text mission__text_second">
            <p>
              Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
              est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
              velit, sed quia non numquam eius modi tempora incidunt ut labore
              et dolore magnam aliquam quaerat voluptatem.
            </p>
            <p>
              Ut enim ad minima veniam, quis nostrum exercitationem ullam
              corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
              consequatur?
            </p>
          </div>
        </div>
        <a href="#" class="mission__btn mb-5 mb-lg-0">Узнать больше</a>
      </div>
      <div class="col-lg-3">
        <h3 class="mission__title">Новости</h3>
        <div class="news">
          <div class="news-item d-flex">
            <img src="img/truck.png" alt="" class="news-item__img" />
            <div class="news-item__text">
              <div class="news-item__title">
                LAB Consulting запускает новое направление в своих услугах
              </div>
              <div class="news-item__date">02.12.2015</div>
            </div>
          </div>
          <div class="news-item d-flex">
            <img src="img/truck.png" alt="" class="news-item__img" />
            <div class="news-item__text">
              <div class="news-item__title">
                LAB Consulting запускает новое направление в своих услугах
              </div>
              <div class="news-item__date">02.12.2015</div>
            </div>
          </div>
          <div class="news-item d-flex">
            <img src="img/truck.png" alt="" class="news-item__img" />
            <div class="news-item__text">
              <div class="news-item__title">
                LAB Consulting запускает новое направление в своих услугах
              </div>
              <div class="news-item__date">02.12.2015</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
