<section class="aside" id="aside">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5">
        <h4 class="aside__title">О компании</h4>
        <a href="#" class="aside__link">Видение, миссия и ценности</a>
        <a href="#" class="aside__link">Преимущества</a>
        <a href="#" class="aside__link">Клиенты</a>
        <a href="#" class="aside__link">Партнеры</a>
        <a href="./contacts.html" class="aside__link">Контакты</a>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <h4 class="aside__title">Пресс – центр</h4>
        <a href="#" class="aside__link">Новости </a>
        <a href="#" class="aside__link">
          Публикации
        </a>
        <a href="#" class="aside__link">
          Мероприятия
        </a>
        <a href="#" class="aside__link"> Консультация эксперта</a>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <h4 class="aside__title">Услуги</h4>
        <a href="#" class="aside__link">Legal (Юридическое сопровождение)</a>
        <a href="#" class="aside__link">Accounting ( Финансовый аутсорсинг)</a>
        <a href="#" class="aside__link"
          >Business Consulting (Бизнес консалтинг)</a
        >
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <h4 class="aside__title">Отрасли</h4>
        <a href="#" class="aside__link">Аграрный сектор</a>
        <a href="#" class="aside__link">Внешнеэкономическая деятельность</a>
        <a href="#" class="aside__link">ИT – бизнес</a>
        <a href="#" class="aside__link">Оптовая и розничная торговля</a>
        <a href="#" class="aside__link">Сфера услуг</a>
        <a href="#" class="aside__link">Транспорт и Логистика</a>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <h4 class="aside__title">Образовательный центр</h4>
        <a href="#" class="aside__link">Про Образовательный Центр</a>
        <a href="#" class="aside__link"
          >Бизнес-тренинги, семинары, круглые столы</a
        >
        <a href="#" class="aside__link">Преимущества</a>
        <a href="#" class="aside__link">Alumni</a>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <h4 class="aside__title">Соц. предпринимательство</h4>
        <a href="#" class="aside__link">Социальная миссия</a>
        <a href="#" class="aside__link">Проекты</a>
        <a href="#" class="aside__link">Партнеры</a>
        <a href="#" class="aside__link">Консультация эксперта</a>
      </div>
    </div>
  </div>
</section>
