.aside {
  background: #3a4456;
  padding-top: 42px;

  &__title {
    font-family: $bold-font;
    font-size: 19px;
    color: #c9cace;
    margin-bottom: 22px;
  }

  &__link {
    display: block;
    color: #a5a8af;
    font-size: 14px;
    line-height: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .aside {
    text-align: center;
  }
}
