.map {
  &__content {
    height: 440px;
    background: url(../img/map.jpg) no-repeat center top/cover;
  }

  &-contact {
    margin: 24px;
    padding: 30px;
    background-color: rgba(109, 124, 150, 0.836);
    border-radius: 4px;
    color: #fff;
    width: 90%;

    &__head {
      position: relative;
      margin-bottom: 70px;
    }

    &__head::after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background: rgba(229, 230, 233, 0.741);
      bottom: -20px;
      position: absolute;
    }

    &__title {
      font-size: 21px;
      display: inline-block;
      line-height: 30px;
    }

    &__icons {
      width: 140px;
      display: inline-block;
    }

    &__icon {
      display: block;
    }

    &__icon i {
      color: #fff;
      border: 2px solid #fff;
      display: block;
      line-height: 26px;
      width: 30px;
      font-size: 17px;
      text-align: center;
    }

    &__list {
      padding-left: 30px;
      font-size: 16px;
      min-width: 216px;
    }

    &__item {
      margin-bottom: 24px;
      line-height: 1.2;
    }

    & a {
      display: block;
      color: #fff;
      font-size: 16px;
    }

    & .fas {
      color: #fff;
      margin-left: -20px;
      margin-right: 5px;
    }

    & span {
      display: block;
    }

    &__text p {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .map-contact__text {
    max-width: 450px;
  }
}

@media screen and (min-width: 992px) {
  .map-contact {
    position: absolute;
    top: 50px;
    left: 53%;
    margin: 0;
    width: 470px;

    &:after {
      content: "";
      display: block;
      border: 20px solid transparent;
      border-right: 20px solid rgba(109, 124, 150, 0.836);
      position: absolute;
      top: 20px;
      left: -40px;
      height: 2px;
      width: 1px;
    }

    &__list {
      min-width: 200px;
      margin-right: 10px;
    }

    &__text {
      width: 200px;
    }
  }
}
