<section class="legal" id="legal">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-3 d-flex align-items-center">
        <img src="img/computer.jpg" alt="" class="legal__img mx-auto" />
      </div>
      <div class="col-lg-4 col-md-8">
        <h4 class="legal__title">
          Юридическое <br />
          сопровождение
        </h4>
        <p class="legal__text">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo.
        </p>
      </div>
      <div class="col-lg-5 col-xl-4 ml-auto d-none d-lg-block">
        <ul class="legal__subcategory">
          <li>
            &#8594;
            <a href="" class="legal__link"> Подкатегория услуг первая</a>
          </li>
          <li>
            &#8594;
            <a href="" class="legal__link">Вторая подкатегория</a>
          </li>
          <li>
            &#8594;
            <a href="" class="legal__link"> Маленькая услуга</a>
          </li>
          <li>
            &#8594;
            <a href="" class="legal__link"> Довольно длинная и замысловатая</a>
          </li>
          <li>&#8594;<a href="" class="legal__link"> Ещё одна</a></li>
          <li>&#8594;<a href="" class="legal__link"> И ещё одна в конце</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
