<section class="advantages" id="advantages">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="advantages__title">Преимущества LAB Consult</h3>
      </div>
      <div class="col-md-6">
        <p class="advantages__text">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt.
        </p>
      </div>
      <div class="col-md-6">
        <div class="advantages__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat commodo consequat.
        </div>
      </div>
      <div class="col-12">
        <div class="advantage advantage_first">
          <div class="advantage__icon">
            <img src="img/weighter.png" alt="" />
          </div>
          <h4 class="advantage__title">Первое весомое преимущество</h4>
          <p class="advantage__text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
            eos qui ratione voluptatem sequi nesciunt.
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="advantage">
          <div class="advantage__icon">
            <img src="img/weighter.png" alt="" />
          </div>
          <h4 class="advantage__title">Второе сильное и мощное преимущество</h4>
          <p class="advantage__text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
            eos qui ratione voluptatem sequi nesciunt.
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="advantage">
          <div class="advantage__icon">
            <img src="img/weighter.png" alt="" />
          </div>
          <h4 class="advantage__title">
            Третье и финальное сильное и мощное преимущество
          </h4>
          <p class="advantage__text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
            eos qui ratione voluptatem sequi nesciunt.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
