<section class="trust" id="trust">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="trust__title">Мы заслужили доверие</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="trust-item">
          <div class="trust-item__icon mx-auto">
            <svg>
              <use href="img/sprite.svg#icon-lamp"></use>
            </svg>
          </div>
          <h4 class="trust-item__title">Что мы предлагаем?</h4>
          <p class="trust-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="trust-item">
          <div class="trust-item__icon mx-auto">
            <svg>
              <use href="img/sprite.svg#icon-book"></use>
            </svg>
          </div>
          <h4 class="trust-item__title">Как мы работаем?</h4>
          <p class="trust-item__text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab ill
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="trust-item">
          <div class="trust-item__icon mx-auto">
            <svg>
              <use href="img/sprite.svg#icon-star"></use>
            </svg>
          </div>
          <h4 class="trust-item__title">Почему мы?</h4>
          <p class="trust-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a href="#" class="trust__btn btn mx-auto">Подробнее</a>
      </div>
    </div>
  </div>
</section>
