<div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-9 mr-auto">
        <div class="offer">
          <h1 class="offer__title">LAB Consulting</h1>
          <p class="offer__subtitle">
            Ваш надежный партнер в области транспортно-логистического
            сопровождения
          </p>
          <ul
            class="offer__icons d-flex justify-content-around align-items-center"
          >
            <li>
              <a href="" class="offer__icon offer__icon_facebook"
                ><i class="fab fa-facebook"></i
              ></a>
            </li>
            <li>
              <a href="" class="offer__icon offer__icon_twitter"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="" class="offer__icon offer__icon_telegram-plane"
                ><i class="fab fa-telegram-plane"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>