<section class="merits" id="merits">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="merits-item">
          <div class="merits-item__icon mx-auto">L</div>
          <h4 class="merits-item__title"><span>L</span>egal</h4>
          <p class="merits-item__text">
            But I must explain to you how all this mistaken idea of denouncing
            pleasure and praising pain was born and I will give you a complete
            account of the system, and expound the actual teachings of the great
            explorer of the truth
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="merits-item">
          <div class="merits-item__icon mx-auto">A</div>
          <h4 class="merits-item__title"><span>A</span>ccounting</h4>
          <p class="merits-item__text">
            But I must explain to you how all this mistaken idea of denouncing
            pleasure and praising pain was born and I will give you a complete
            account of the system, and expound the actual teachings of the great
            explorer of the truth
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="merits-item">
          <div class="merits-item__icon mx-auto">B</div>
          <h4 class="merits-item__title"><span>B</span>usiness</h4>
          <p class="merits-item__text">
            But I must explain to you how all this mistaken idea of denouncing
            pleasure and praising pain was born and I will give you a complete
            account of the system, and expound the actual teachings of the great
            explorer of the truth
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
